@charset "utf-8";

/********************************      Estrutura basica      ********************************/

html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px; /* Sempre mostra a barra de rolagem para evitar saltar quando a barra aparecer */
}

body {
	background: #f0f0f0 url('../img/bg-body.gif') top left repeat-y;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: scroll;
}

input[type="file"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
}

/********************************      Estilos para os elementos      ********************************/

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1 { 
	font-family: Calibri, Helvetica, Arial, sans-serif; 
	font-size: 31px; 
	font-weight: bold; color: #fff; 
	position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}
				
h2 { font-size: 26px; padding: 0 0 10px 0; }
h3 { font-size: 17px; padding: 0 0 10px 0; }
h4 { font-size: 16px; padding: 0 0 5px 0; }
h5 { font-size: 14px; padding: 0 0 5px 0; }
h6 { font-size: 12px; padding: 0 0 5px 0; }

a           { color: #57a000; text-decoration: none; }
a:hover		{ color: #000; }
a:active    { color: #777; }
a:focus     { outline: 1px; }

strong		{ font-weight: bold; color: #333; }

small		{ font-size: 0.85em; }

pre			{ font-family: monospace; }

p {
	padding: 5px 0 10px 0;
	line-height: 1.6em;
}

/********************************      Classes gerais      ********************************/

.clear {
	clear: both;
}
.align-left {
	float: left;
}
.align-right {
	float: right;
}

.esquerda {margin:0 20px 0 0; width: 325px;}
.direita {width: 325px;}

.imagem1 {margin:0 65px 0 0; width: 105px;}
.imagem2 {margin:0 65px 0 0; width: 105px;}
.imagem3 {margin:0 65px 0 0; width: 105px;}
.imagem4 {margin:0 65px 0 0; width: 105px;}
.imagem5 {margin:0 65px 0 0; width: 105px;}
.imagem6 {margin:0 65px 0 0; width: 105px;}
.imagem7 {margin:0 65px 0 0; width: 105px;}
.imagem8 {margin:0 65px 0 0; width: 105px;}
.imagem9 {margin:0 65px 0 0; width: 105px;}
.imagem10 {margin:0 65px 0 0; width: 105px;}

.caixaimagem {
/*    margin: 0 12px 15px 0;*/
    margin: -134px 12px 15px 0;	
    width: 140px;
    border: 1px solid #ccc;
    padding: 8px;
    height: 191px;
    background: #F8F8F8;
    position: relative;
    
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.caixaimagem label {
    text-align: center;
    width: 100%;
    height: 15px;
    background: transparent url('../img/bg-menu-item-red.gif') right center no-repeat;
    line-height: 24px;
    color: #fefefe;
}

.caixaimagem .inputfile {
    padding-left: 48px !important;
    position: absolute;
    bottom: 8px;
}

.caixaimagem .fakeupload {
    background: #fff url("../img/botao-selecione.gif") no-repeat 55% 51%;
}
.caixaimagem .realupload {
    top: 172px;
    right: 12px;
    width: 88px;
}

.user1 {margin:0 5px 0 0; width: 255px;}
.user2 {margin:0 5px 0 0; width: 255px;}
.user3 {margin:0 5px 0 0; width: 155px;}

/************ Botoes ************/

.button {
	background: #459300 url('../img/bg-button-green.gif') top left repeat-x !important;
	border: 1px solid #459300 !important;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px !important;
	padding: 4px 7px 4px 7px !important;
}
                
.button:hover {
	text-decoration: underline;
}
.button:active {
	padding: 5px 7px 3px 7px !important;
}
a.remove-link {
	color: #bb0000;
}
a.remove-link:hover {
	color: #000;
}

/********************************      Barra Lateral      ********************************/

#sidebar {
	background: url('../img/bg-sidebar.gif') top left no-repeat;
	color: #888;
	font-size: 11px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 230px;
}

#sidebar #sidebar-wrapper {
	margin: 0 0 0 9px;
}

#sidebar a,
#sidebar a:active {
	color:#ccc;
}
#sidebar a:hover {
	color:#fff;
}
#sidebar #sidebar-title {
	margin: 40px 0 40px 15px;
}
#sidebar #logo {
	margin: 20px 0px 20px 50px;
}
#sidebar #profile-links {
	line-height: 1.5em;
	padding: 0 15px 20px 15px;
	text-align: right;
}

/************ Menu Accordion da Barra Lateral ************/

#sidebar #main-nav {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 0 0 15px;
	padding: 0;
	width: 206px;
}
#sidebar #main-nav li {
	list-style: none;
	padding-bottom: 10px;
	text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
	background: transparent url('../img/bg-menu-item-green.gif') right center no-repeat; /* Imagem de fundo para o esquema de cor padrao - verde */
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding: 10px 15px;
	text-decoration: none;
}

#sidebar #main-nav li a.current {
	background-image: url('../img/bg-menu-item-current.gif') !important;
	color: #333;
	font-weight: bold;
}
                
#sidebar #main-nav li a.current:hover {
	color: #333;
}
#sidebar #main-nav ul {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#sidebar #main-nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
#sidebar #main-nav ul li a {
	color: #aaa;
	display: block;
	font-size: 13px;
	line-height: 1.2em;
	padding: 8px 15px;
}
#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
	color: #fff;
}

#sidebar #main-nav ul li a.current {
	background: transparent url('../img/menu-current-arrow.gif') right center no-repeat !important;
}

/************ Mensagens ************/

#messages p,
#messages form {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
#messages h4 {
	padding: 10px 0;
}
				
#messages fieldset {
	margin: 0;
}
				
#messages textarea {
	margin: 0 0 15px 0;
}

/************ Mensagens particulares ************/
.txtmessagebox {
	background-repeat: no-repeat !important;
	background-position: 10px 11px !important;
	border: 1px solid;
	font-size: 13px;
	margin: 0 0 15px 0;
	padding: 0;
	position: relative;
	width: 99.8%;
}
.txtmessage {
	background: #fffbcc;
	border-color: #e6db55;
	color: #666452;
}
.txtmessagep {
	margin: 0 0 0 5px;
}
.txtmessagebox div {
	display:block;
	font-style:normal;
	line-height: 1.5em;
	padding: 10px 10px 10px 36px;
}
.txtmessagebox .close {
	color:#990000;
	font-size:9px;
	position:absolute;
	right:5px;
	top:5px;
}

/********************************      Conteudo Prinicipal      ********************************/

/************ Layout ************/

#main-content {
	margin: 0 30px 0 240px;
	padding: 10px 0 0 0;
}
.column-left-home {
	float: left;
	width: 95%;
}
.column-left {
	float: left;
	width: 48%;
}
.column-right {
	float: right;
	width: 48%;
}
#page-intro {
	font-size: 17px;
	padding: 0 0 20px 0;
}
#footer {
	border-top: 0px solid #ccc;
	clear: both;
	font-size: 12px;
	text-align: right;
	margin-right: 5px;
}
.borda {
	background:#fefefe;	
	border: 1px solid #ccc;
	margin:5px 0 0 0;
	padding:8px;
}
/************ Listas ************/

#main-content ul,
#main-content ol {
	padding: 10px 0;
}

/* Lista Desordenada */

#main-content ul li {
	background: url('../img/icons/bullet_black.png') center left no-repeat;
	padding: 4px 0 4px 20px;
}

/* Lista em Ordem */

#main-content ol {
	padding: 0 0 0 24px;
}
#main-content ol li {
	list-style: decimal;
	padding: 4px 0;
}

/*************** Caixa de Conteudo ***************/

.content-box {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
	width: 710px;
}

.content-box-left {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
}

.content-box-right {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
}

.content-box-header {
	background: #e5e5e5 url('../img/bg-content-box.gif') top left repeat-x;
	height: 40px;
	margin-top: 1px;
}
.content-box-header h3 {
	float: left;
	padding: 12px 15px 10px;
}
ul.content-box-tabs {
	float: right;
	margin: 0 !important;
	padding: 12px 15px 0 0 !important;
}
ul.content-box-tabs li {
	background-image: none !important;
	float: left;
	margin: 0;
	padding: 0 !important;
}
ul.content-box-tabs li a {
	border-bottom: 0;
	color: #333;
	display: block;
	margin: 1px;
	padding: 8px 10px;
}
ul.content-box-tabs li a:hover {
	color: #57a000;
}              
ul.content-box-tabs li a.current {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 0;
	margin: 0;
}
.content-box-content {
	border-top: 1px solid #ccc;
	font-size: 13px;
	padding: 0px;
}

.imgsite {
	width:100px;
	height: 60px;
}

.insereNoticia {
	padding: 15px;
}
                
/************ Tabela Analytics ************/
.tableplaceholder {
    border-collapse: collapse;
    width: 205px;
}

/************ Tabela ************/
#main-content table {
	border-collapse: collapse;
	width: 100%;
}
#main-content table thead th {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	font-size: 15px;
}
#main-content tbody {
	border-bottom: 1px solid #ddd;
}
#main-content tbody tr {
	background: #fff;
}
#main-content tbody tr.alt-row {
	background: #f3f3f3;
}
#main-content table td,
#main-content table th {
	line-height: 1.3em;
	padding: 10px;
}        
#main-content table tfoot td .bulk-actions {
	padding: 15px 0 5px 0;
} 
#main-content table tfoot td .bulk-actions select {
	border: 1px solid #ccc;
	padding: 4px;
}

.alignverticaltop {
	vertical-align: top
}

/*************** Paginacao ***************/

#main-content .pagination {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 15px 15px 0 0;
	text-align: right;
}
.pagination a {
	margin: 0 5px 0 0;
	padding: 3px 6px;
}
.pagination a.number {
	border: 1px solid #ddd;
}
.pagination a.current {
	background: #469400 url('../img/bg-button-red.gif') top left repeat-x !important;
	border-color: #459300 !important;
	color: #fff !important;
}
.pagination a.current:hover {
	text-decoration: underline;
}

/************ Botoes de Atalho ************/

.shortcut-button {
	background: #f7f7f7 url('../img/shortcut-button-bg.gif') top left no-repeat;
	border: 1px solid #ccc;
	display: block;
	margin: 0 0 20px 0;
	width: 120px;
}
.shortcut-button span {
	border: 1px solid #fff;
	color: #555;
	display:block;
	font-size: 13px;
	line-height: 1.3em;
	padding: 15px 10px 15px 10px;
	text-align: center;
}
.shortcut-button span img {
	margin-bottom: 10px;
}
.shortcut-button:hover {
	background: #fff;
}
.shortcut-button span:hover {
	color: #57a000; 
}
ul.shortcut-buttons-set li {
	background: 0;
	float: left;
	margin: 0 15px 0 0;
	padding: 0 !important;
}

/*************** Formularios ***************/
form label {
	display: block;
	font-weight: bold;
	padding: 0 0 10px;
}
form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}
form p small {
	color: #777;
	font-size: 0.75em;
}
form input.file-input,
form input.text-input,
form select,
form textarea,
form .wysiwyg {
	background: #fff url('../img/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
	font-size: 13px;
	padding: 6px;
}
form .paginacao-input {
	width: 4% !important;
}
form .small-gapi-input {
	padding: 5px;
	width: 15% !important;
}
form .small-input {
	width: 25% !important;
}
form .marromeno-input {
	width: 49% !important;
    padding: 6px;	
}
form .medium-input {
	width: 50% !important;
}
form .large-input {
	font-size: 13px !important;
	padding: 8px !important;
	width: 97.5% !important;
}
form .fontlarge-input {
	font-size: 16px !important;
	padding: 8px !important;
	width: 97.5% !important;
}
form textarea {
	font-family: Arial, Helvetica, sans-serif;
	width: 97.5% !important;
}
form select {
	background: #fff;
	padding: 4px;
}
				
form input[type="checkbox"],
form input[type="radio"] {
	background: none;
	border: 0;
	padding: 0;
}

/*************** Notificacoes ***************/

.notification {
	background-repeat: no-repeat !important;
	background-position: 10px 11px !important;
	border: 1px solid;
	font-size: 13px;
	margin: 0 0 15px 0;
	padding: 0;
	position: relative;
	width: 99.8%;
}
.attention {
	background: #fffbcc url('../img/icones/exclamation.png') 10px 11px no-repeat;
	border-color: #e6db55;
	color: #666452;
}
.information {
	background: #dbe3ff url('../img/icones/information.png');
	border-color: #a2b4ee;
	color: #585b66;
}
.success {
	background: #d5ffce url('../img/icones/tick_circle.png');
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background: #ffcece url('../img/icones/cross_circle.png');
	border-color: #df8f8f;
	color: #665252;
}
.notification div {
	display:block;
	font-style:normal;
	line-height: 1.5em;
	padding: 10px 10px 10px 36px;
}
.notification .close {
	color:#990000;
	font-size:9px;
	position:absolute;
	right:5px;
	top:5px;
}

/* Notificacoes para os inputs dos formularios */

.input-notification {
	background-position: left 2px;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0 0 0 5px;
	padding: 2px 0 2px 22px;
}

/* Notificacoes para a pagina de login */

#login-wrapper #login-content .notification {
	background-color: #141414;
	border: 0;
	color: #fff !important;
}

/********************************      Pagina de Login      ********************************/

body#login {
	background: #222 url('../img/bg-login.gif');
	color: #fff;
}
#login-wrapper {
	background: url('../img/bg-login-top.png') top left repeat-x;
}
#login-wrapper #login-top {
	padding: 140px 0 30px 0;
	text-align: center;
	width: 100%;
}
#login-wrapper #login-content {
	margin: 0 auto;
	text-align: left;
	width: 300px;
}
#login-wrapper #login-content label {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	float: left;
	padding: 0;
	width: 70px;
}
#login-wrapper #login-content input {
	border: 0;
	background: #fff;
	float: right;
	margin: 0 0 20px 0;
	width: 200px;
}
#login-wrapper #login-content p {
	padding: 0;
}
#login-wrapper #login-content p#remember-password {
	float: left;
}
#login-wrapper #login-content p#remember-password input {
	border: 0;
	background: none;
	float: none;
	margin: 0 10px 0 0;
	width: auto;
}
#login-wrapper #login-content p .button {
	margin-top: -20px;
	width: auto;
}

/********************************      Estilos para os plugins jQuery      ********************************/

/*************** Facebox ***************/

#facebox .b {
	background:url(../img/b.png);
}
#facebox .tl {
	background:url(../img/tl.png);
}
#facebox .tr {
	background:url(../img/tr.png);
}
#facebox .bl {
	background:url(../img/bl.png);
}
#facebox .br {
	background:url(../img/br.png);
}
#facebox {
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
	z-index: 100;
}
#facebox .popup {
	position: relative;
}
#facebox table {
	border-collapse: collapse;
}
#facebox td {
	border-bottom: 0;
	padding: 0;
}
#facebox .body {
	background: #fff;
	padding: 10px;
	width: 370px;
}
#facebox .loading {
	text-align: center;
}
#facebox .image {
	text-align: center;
}
#facebox img {
	border: 0;
	margin: 0;
}
#facebox .footer {
	border-top: 1px solid #DDDDDD;
	margin-top: 10px;
	padding-top: 5px;
	text-align: right;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
	height: 10px;
	overflow: hidden;
	padding: 0;
	width: 10px;
}
#facebox_overlay {
	height:100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width:100%;
}
.facebox_hide {
	z-index:-100;
}
.facebox_overlayBG {
	background-color: #000;
	z-index: 99;
}

/*************** jQuery WYSIWYG ***************/

div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; width: 97.5% !important; }
div.wysiwyg * { margin: 0; padding: 0; }

div.wysiwyg ul.panel { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 0 0 5px 0; }
div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 0 2px; padding: 0 !important;  background: #ffffff; background-image: none !important;}
div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a { display: block; padding: 0 !important; width: 16px; height: 16px; background: url('../img/icones/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {  }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }

div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }

div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }

div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }

div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }

div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }

div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }

div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }

div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }

div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }

div.wysiwyg ul.panel li a.html { background-position: -48px -48px; }
div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -64px; }

div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }

div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: left; width: 97.5% !important; }




/** Tabs **/


.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 0px solid #778;
color: #fff;
}

.shadetabs li a:visited{
color: #fbfbfb;
}

.shadetabs li a:hover{
text-decoration: none;
color: #fbfbfb;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 5px solid #D25A0B; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/ 
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/** END Tabs **/

/*** Busca ***/
.busca {
	padding:5px 0 0 495px;
	width:500px;
}

.icones {
	float:right;
}


.gapiplaceholder {
	background:#EEE;
	color: #666666;	
	border: 1px solid #CCCCCC;
    height: 300px;
    margin: 10px 0 0;
	padding: 2px;
    width: 678px;
}
.hide {
	text-indent: -9999px;
	visibility: hidden;
}

/*** input file ****/

.realupload {
    position: relative;
    float: right;
    top: -21px;
    right: 20px;
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);
	width: 80px;
}

.fakeupload {
    width: 85px;
    background: #fff url("../img/botao-selecione.gif") no-repeat 99% 51%;
    cursor: default;
    background-color: #fff;
}

.inputfile {
      background-color: #fff;
      border: 1px solid #e4e4e4;
      letter-spacing: 1px;
      font-size: 11px;
      color: #333;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 0px;
      height: 15px;
      vertical-align: middle;
}

/*** novo input ***/

.SI-FILES-STYLIZED label.cabinet
{
	width: 90px;
	height: 10px;
	background: url(../img/botao-selecione.gif) 0 0 no-repeat;
    border: 1px solid #e4e4e4;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

.SI-FILES-STYLIZED label.cabinet input.file
{
	position: relative;
	height: 100%;
    letter-spacing: 1px;
    font-size: 11px;
    color: #333;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    vertical-align: middle;

	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity:0);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/* IN PAGE ANALYTICS */
#page-analtyics {
    clear: left;
	width:682px;
}
#page-analtyics .metric {
    background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 0%, #f2f3f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f2f3f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* IE10+ */
        background: linear-gradient(top, #fefefe 0%,#f2f3f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f3f2',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    float: left;
    font-size: 12px;
    margin: -4px 0 1em -1px;
    padding: 10px 8px;
    width: 119px;
}
#page-analtyics .metric:hover {
    background: #fff;
    border-bottom-color: #b1b1b1;
}
#page-analtyics .metric .legend {
    background-color: #058DC7;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    font-size: 0;
    margin-right: 4px;
    padding: 10px 5px 0;
}
#page-analtyics .metric strong {
    font-size: 16px;
    font-weight: bold;
}
#page-analtyics .range {
    color: #686868;
    font-size: 11px;
    margin-bottom: 7px;
    width: 682px;
}

/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	background:url('../img/background_tile_3.jpg');
	
	border-radius:3px;
	position: relative;
	margin:80px auto 90px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 690px;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 14px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:145px;
	height:115px;
	float:left;
	margin:15px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 140px;
	max-height:80px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}